/node_modules
/vendor
.env
.DS_Store
Thumbs.db
*.log
storage/*.key
/.idea
/.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.phpunit.result.cache

.env.*

/storage/*.key
/public/storage
/storage/logs/*.log


.phpunit.result.cache
.phpunit.cache
/.phpunit.cache
/.php-version
composer.lock
package-lock.json
yarn.lock