
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

LOCK TABLES `activities` WRITE;
/*!40000 ALTER TABLE `activities` DISABLE KEYS */;
/*!40000 ALTER TABLE `activities` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `activity_log` WRITE;
/*!40000 ALTER TABLE `activity_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_log` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `activity_prices` WRITE;
/*!40000 ALTER TABLE `activity_prices` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_prices` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `backup_summary` WRITE;
/*!40000 ALTER TABLE `backup_summary` DISABLE KEYS */;
/*!40000 ALTER TABLE `backup_summary` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `brands` WRITE;
/*!40000 ALTER TABLE `brands` DISABLE KEYS */;
/*!40000 ALTER TABLE `brands` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `cell_equipment_types` WRITE;
/*!40000 ALTER TABLE `cell_equipment_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `cell_equipment_types` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `cell_equipments` WRITE;
/*!40000 ALTER TABLE `cell_equipments` DISABLE KEYS */;
/*!40000 ALTER TABLE `cell_equipments` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `cell_specifications` WRITE;
/*!40000 ALTER TABLE `cell_specifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `cell_specifications` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `checklist_items` WRITE;
/*!40000 ALTER TABLE `checklist_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `checklist_items` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `checklist_template_items` WRITE;
/*!40000 ALTER TABLE `checklist_template_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `checklist_template_items` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `checklist_templates` WRITE;
/*!40000 ALTER TABLE `checklist_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `checklist_templates` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `communications` WRITE;
/*!40000 ALTER TABLE `communications` DISABLE KEYS */;
/*!40000 ALTER TABLE `communications` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `consumable_items` WRITE;
/*!40000 ALTER TABLE `consumable_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `consumable_items` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `consumables` WRITE;
/*!40000 ALTER TABLE `consumables` DISABLE KEYS */;
/*!40000 ALTER TABLE `consumables` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `contractors` WRITE;
/*!40000 ALTER TABLE `contractors` DISABLE KEYS */;
INSERT INTO `contractors` (`id`, `name`, `coefficient`, `contract_number`, `phone`, `whatsapp`, `address`, `created_at`, `updated_at`) VALUES (1,'┘à╪º┘å╪º ┘å█î╪▒┘ê',2.35,'1403/993/856','035-7928420','989183512643','┘à┘ä╪º╪╡╪»╪▒╪º','2026-04-23 20:44:41','2026-04-23 20:44:41'),(2,'╪│╪º┘à ╪│╪▒┘à╪» ┌⌐┘ê█î╪▒',2.01,'1403/491/864','035-6021134','989185270861','╪¿┘ä┘ê╪º╪▒ ╪¼┘à┘ç┘ê╪▒█î','2026-04-23 20:44:41','2026-04-23 20:44:41');
/*!40000 ALTER TABLE `contractors` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `equipment_activities` WRITE;
/*!40000 ALTER TABLE `equipment_activities` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment_activities` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `equipment_checklists` WRITE;
/*!40000 ALTER TABLE `equipment_checklists` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment_checklists` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `equipment_checklists_new` WRITE;
/*!40000 ALTER TABLE `equipment_checklists_new` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment_checklists_new` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `equipment_communications` WRITE;
/*!40000 ALTER TABLE `equipment_communications` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment_communications` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `equipment_consumables` WRITE;
/*!40000 ALTER TABLE `equipment_consumables` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment_consumables` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `equipment_feeders` WRITE;
/*!40000 ALTER TABLE `equipment_feeders` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment_feeders` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `equipment_locations` WRITE;
/*!40000 ALTER TABLE `equipment_locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment_locations` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `equipment_photos` WRITE;
/*!40000 ALTER TABLE `equipment_photos` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment_photos` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `feeders` WRITE;
/*!40000 ALTER TABLE `feeders` DISABLE KEYS */;
/*!40000 ALTER TABLE `feeders` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `inspections` WRITE;
/*!40000 ALTER TABLE `inspections` DISABLE KEYS */;
/*!40000 ALTER TABLE `inspections` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `main_equipment_feeder` WRITE;
/*!40000 ALTER TABLE `main_equipment_feeder` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_equipment_feeder` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `main_equipment_types` WRITE;
/*!40000 ALTER TABLE `main_equipment_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_equipment_types` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `main_equipments` WRITE;
/*!40000 ALTER TABLE `main_equipments` DISABLE KEYS */;
/*!40000 ALTER TABLE `main_equipments` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `model_has_permissions` WRITE;
/*!40000 ALTER TABLE `model_has_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `model_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `model_has_roles` WRITE;
/*!40000 ALTER TABLE `model_has_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `model_has_roles` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
INSERT INTO `personal_access_tokens` (`id`, `tokenable_type`, `tokenable_id`, `name`, `token`, `abilities`, `last_used_at`, `expires_at`, `created_at`, `updated_at`) VALUES (1,'App\\Models\\User',1,'auth-token','fcaacdb81cb8242e41b33caa242b72fa0a62c35725f5f10058612e7c980a29c1','[\"*\"]','2026-04-27 17:28:47',NULL,'2026-04-26 17:20:49','2026-04-27 17:28:47'),(2,'App\\Models\\User',1,'auth-token','b33775ace4bd7ef39cbe364c29c4866bb42acb7e65dd4e9587106052db653d18','[\"*\"]','2026-05-25 05:03:01',NULL,'2026-04-27 17:35:53','2026-05-25 05:03:01');
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `photos` WRITE;
/*!40000 ALTER TABLE `photos` DISABLE KEYS */;
/*!40000 ALTER TABLE `photos` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `posts` WRITE;
/*!40000 ALTER TABLE `posts` DISABLE KEYS */;
/*!40000 ALTER TABLE `posts` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `role_permission` WRITE;
/*!40000 ALTER TABLE `role_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_permission` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` (`id`, `name`, `display_name`, `description`, `level`, `created_at`, `updated_at`) VALUES (1,'admin','┘à╪»█î╪▒ ╪│█î╪│╪¬┘à','╪»╪│╪¬╪▒╪│█î ┌⌐╪º┘à┘ä ╪¿┘ç ╪¬┘à╪º┘à ╪¿╪«╪┤ΓÇî┘ç╪º█î ╪│█î╪│╪¬┘à',0,NULL,NULL),(2,'supervisor','┘å╪º╪╕╪▒ ╪º╪▒╪┤╪»','┘å╪╕╪º╪▒╪¬ ╪¿╪▒ ╪╣┘à┘ä█î╪º╪¬ ┘ê ╪¬╪º█î█î╪» ┘ü╪▒╪ó█î┘å╪»┘ç╪º',1,NULL,NULL),(3,'expert','┌⌐╪º╪▒╪┤┘å╪º╪│','╪º╪¼╪▒╪º█î ╪╣┘à┘ä█î╪º╪¬ ┘ê ╪½╪¿╪¬ ╪»╪º╪»┘çΓÇî┘ç╪º',2,NULL,NULL),(4,'viewer','╪¿█î┘å┘å╪»┘ç','┘ü┘é╪╖ ┘à╪┤╪º┘ç╪»┘ç ╪º╪╖┘ä╪º╪╣╪º╪¬ ╪¿╪»┘ê┘å ╪º┘à┌⌐╪º┘å ┘ê█î╪▒╪º█î╪┤',3,NULL,NULL);
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `simcard_types` WRITE;
/*!40000 ALTER TABLE `simcard_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `simcard_types` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `user_role` WRITE;
/*!40000 ALTER TABLE `user_role` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_role` ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

